/* 
    Document   : style.css
    Created on : 8 juil. 2014, 15:20:08
    Author     : jerome oliva
    Description:
        Css Principale du site
        Surcharge le style de Webemyos
*/

root { 
    display: block;
}

/*
* Bandeau d'entête'
*/
#top-wrapper {
    background-color: #bebebe;
    color: #white;
}

#center{ width:80%; margin:auto; text-align:center}

#footer-wrapper {
    background-color: #eeeeff;
    padding: 40px 0 10px;
}

#copyright-wrapper {
    background-color: #595959;
    font-size: 12px;
    padding: 15px 0;
}